



.language{
    position: relative;
    width:120px ;
    margin-left: 40px;
    font-weight: bold;
}

.language-selected{
    display: flex;
    align-items: center;
    color: #ee0000;
    cursor: pointer;
}
.language-selected:before{
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../img.icon/espana.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

/* jQuery class*/

.language-selected.change-en:before{
    background-image: url(../img.icon/estados-unidos.png);
}
.language-selected.change-es:before{
    background-image: url(../img.icon/espana.png);
}

.language ul{
    position: absolute;
    width: 140px;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    padding-top: 10px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
    display: none;
}

.language ul li{
    list-style: none;
}

.language ul li a{
    display: block;
    color: #252525;
    padding-top: 5px 10px;
}

.language ul li:hover{
    background-color: #f8f8f8;
}

.language ul li a:before{
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
}
a.es:before{
    background-image: url(../img.icon/espana.png);
}
a.en:before{
    background-image: url(../img.icon/estados-unidos.png);
}


.language:hover ul{
    display: block;
}
:root{
    --oscuro:#07070A;
    --azulOscuro:#0A1128;
    --azulClaro:#006FE6;
    --blanco:#FEFCFB;
    --titulos:'Baloo 2', cursive;
    --parrafos:'Montserrat', sans-serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	
}


body{
    font-size: 1.6rem;
	background-color:#ffffff;
    height: 100vh;
    width: 100%;
	
}

/*scroll*/
.scroll-down .nav-bar {
	transform: translateY(-100%);
	transition: transform 0.3s ease-in-out;
  }

html {
	font-size: 62.5%;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	/*scroll-behavior: smooth;*/
}
/*scroll-behavior: smooth;*/


a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: crimson;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: crimson;
}

.logoo{
	margin-left: 1%;

}

.logoo img{
	width:95px ;
	height: 11vh ;
}
@media (max-width: 767px) {
	.logoo {
	  text-align: center; /* Centra el logotipo */
	}
	
	.logoo a {
	  display: block; /* Convierte el enlace en un bloque para que ocupe el ancho completo */
	}
  
	.logoo img {
	  max-width: 100%; /* Hace que la imagen se ajuste al ancho del contenedor */
	  height: auto; /* Mantiene la proporción de aspecto original de la imagen */
	}
  }
  @media (max-width: 1200px) {
	.logoo {
	  text-align: center; /* Centra el logotipo en tablet */
	}
  
	.logoo img {
	  max-width: 100%; /* Ajusta el ancho máximo del logotipo al 100% del contenedor */
	  height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
	}
  }

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: #ffffff;
	transition: 0.3s ease background-color;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: visible;
	transition: 0.5s ease left;
}


#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.1rem;
	text-decoration: none;
	color: rgb(52, 106, 168);
	text-transform: uppercase;
	padding: 15px;
	display: block;
	font-weight: bold;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: crimson;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid rgb(255, 0, 0);
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */
@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

/* contact Section */

#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
}
#contact .contact-items {
	/* max-width: 400px; */
	width: 100%;
}
#contact .contact-item {
	width: 70%;
	padding: 120px;
	text-align: center;
	border-radius: 20px;
	padding: 10px;
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 15px #0000002c;
	transition: 0.3s ease box-shadow;
	background-color: aliceblue;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h2 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h3 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}



.contacto{
    padding-top: 5rem;
	margin-bottom: 10rem;
}
.contacto h2{
    text-align: center;
    color: var(--oscuro	);
    font-size: 4rem;
	text-transform: uppercase;
}

@media(min-width: 768px) {
    .contenido-contacto{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
	
}


.informacion-contacto{
    background-image: url('../img/contacto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.informacion-contacto::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}
.informacion-contacto h3{
    font-size: 4rem;
    text-align: center;
	
}
.informacion-contacto p{
    font-size: 2rem;
	
}
.informacion-contacto h3,
.informacion-contacto p {
  margin-bottom: 50px;
}
.informacion-contacto h3, .informacion-contacto p{
    color: var(--blanco);
}
.formulario-contacto{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
.formulario-contacto h3{
	text-align: center;
	color: #ffffff;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.input-contacto label{
    color: var(--blanco);
    font-family: var(--parrafos);
    display: block;
    margin: 1rem 0;
    font-weight: bold;
}
.input-contacto input{
    padding: 1.2rem 1rem;
    font-family: var(--parrafos);
}

.input-contacto input, .input-contacto textarea{
    width: 100%;
    outline: none;
}

.input-contacto textarea{
    resize: none;
}

.input-contacto input[type="submit"]{
    width: auto;
    padding: 1rem 3rem;
    transition: background-color .3s ease-in-out;
}

.input-contacto input[type="submit"]:hover{
    background-color: var(--blanco);
    color: var(--azulClaro);
}


/*End contact Section */
/* Footer */
 
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}


/* End Footer */
/*----------------------------------------------------------------------*/

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}
/* End Keyframes */
/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	
	
	.cta {
		font-size: 2rem;
		padding: 10px 30px;
	}
	h1.section-title {
		font-size: 4rem;
	}
	.tarjeta-titulo span{
		font-size: 4rem;
	}

	h1.service-title{
		font-size: 4rem;
	}

	/* slinder*/
	main {
		height: 100vh;
	  }
	.bg-circle-wrapper {
		height: 100vh;
	  }
	  
	  .bg-circle {
		width: 16vmin;
		height: 16vmin;
		clip-path: circle(8vmin at center);
	  }
	  
	  .bg-circle-img {
		clip-path: circle(8vmin at center);
	  }
	  
	  .bg-circle-img::after {
		width: 100vw;
		height: 100vh;
		top: calc(-50vh + 8vmin);
		left: calc(-100vw / 2 + 8vmin);
	  }

	    
	  
	/*end slider*/


	

	/* contact  */


	#contact{
		margin-top: -205px;
	}
	#contact .contact {
		flex-direction: column;
		padding: 100px 0px 250px;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
		margin-top: 150px;
	}


	


	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		margin-bottom: -250px;
	}
	#contact .contact-item {
		width: 30%;
		margin: 30px;
		flex-direction: column;
	}

	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: center;
		padding-left: 20px;
	}

	 #map-container {
		width: 50%; /* Puedes ajustar este valor para cambiar el tamaño del mapa */
		height: 80vh; /* Puedes ajustar este valor para cambiar la altura del mapa */
		margin-top: -56.1%;
	}
	  
	  #map {
		width: 100%;
		height: 100%;
	  }
	  #map-container {
		float:left; /* Alinear a la derecha */
		margin-left: 40%; /* Espacio entre el mapa y los otros elementos */
	  }

	
	/* End contact  */
}
/* End Media Query For Tablet */



/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */






@media screen and (max-width: 768px) {
    .text {
      font-size: 5rem; /* Tamaño de fuente más pequeño para dispositivos móviles */
    }
	#top::before{
		content:'';
		position:absolute;
		bottom: 0;
		left: 0;
		height:250px;
		width: 100%;
		background:linear-gradient(to top,#ffffff,transparent);
		z-index: 1000;
	}
	.prabe .section-title{
		font-size: 2rem;
	}
	#contact{
		margin-top: -150px;
	}
	.contact.container {
		flex-direction: column; /* Stack contact items vertically */
	  
	  }
  
	  .contact-items {
		max-width: 100%; /* Take up full width on smaller screens */
		margin:50px 0px 0px 0px;
	  }
	  #map-container {
		  margin-top: 20px; /* Adjust the height for smaller screens */
		}
		#map{
		  height: 400px;
		  width: 500px;
		  margin:0px 0px 0px 60px;
		}
  }
  
  /* Estilos para tabletas */
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .text {
      font-size: 8rem; /* Tamaño de fuente para tabletas */
    }
   
  }
  
  /* Estilos para pantallas más grandes (escritorio) */
  @media screen and (min-width: 1025px) {
    .text {
      font-size: 10rem; /* Tamaño de fuente para pantallas de escritorio */
    }
    
  }
  @media (max-width: 680px) {
	.contact.container {
	  flex-direction: column; 
	}
	.contacto{
		margin-top: 25px;
	}

	#map-container {
		margin-top: -20px; /* Adjust the height for smaller screens */
	  }
	  #map{
		height: 300px;
		width: 35vh;
		margin-left:43px;
	  }
	}

	
	@media (max-width: 768px) {
		.contact-item {
		  display: block;
		  margin-bottom: 20px;
		}
	  
		.contact-info {
		  margin-top: 10px;
		}
	  .contacto{
		margin-top: 25px;
	  }
		.contact-items {
		  display: flex;
		  flex-direction: column;
		  align-items: center;
		}
	  }